{% load static %}
{% load filters %}
{% block conteudo %}

<main class="container mt-4 mb-4">

    <h2> Meu Pedido </h2>
    <div class="row mb-5 ml-1" style="width:66.5rem;">
        <div id="compra_resumo_card" class="col-lg mt-2">
  
            <p class="lead mt-4"> Detalhes do Pedido : </p>

            <dl class="row">
                <dt class="col-lg-2">Número:</dt>
                <dd class="col-lg-4">Pedido {{ pedido.id }}</dd>
  
                <dt class="col-lg-2">Total a pagar:</dt>
                <dd class="col-lg-4">{{ pedido.total|formata_preco }}</dd>
  
                <dt class="col-lg-2">Quantidade</dt>
                <dd class="col-lg-4"> {{ pedido.qtd_total|formata_unidades }} </dd>
  
                <dt class="col-lg-2">STATUS:</dt>
                <dd class="col-lg-4"> {{ pedido.get_status_display }} </dd>
  
            </dl>

     </div>
    </div>

        </div>
    </div>

    <div class="card mb-p-4 text-center mr-3" style="height: fit-content;max-width:67rem;">
     <div class="card-body p-4 ">

       {% for pedido in pedido.itempedido_set.all %}

       <div class="row align-items-center mt-3">
         <div class="col-md-2">
            <img src="{% get_media_prefix %}{{ pedido.imagem }}"   class="img-fluid" alt="{{ pedido.pizza|title }}" style="border-radius:3px;"> 
         </div>
         <div class="col-md-2 d-flex justify-content-center">
           <div>
             <p class="lead fw-normal text-warning"> {{ pedido.pizza|title }}</p>
           </div>
         </div>
         <div class="col-md-2 d-flex justify-content-center">
           <div>
             <p class="small text-muted mb-1  d-none d-lg-block">Tamanho</p>
             <p class="lead fw-normal mb-0"> {{ pedido.tamanho|title }} </p>
           </div>
         </div>
         <div class="col-md-2 d-flex justify-content-center">
           <div>
            <p class="small text-muted mb-1  d-none d-lg-block">Quantidade</p>
             <p class="lead fw-normal mb-2"> {{ pedido.quantidade|formata_unidades }} </p>
           </div>
         </div>
         <div class="col-md-2 d-flex justify-content-center">
            <div>
              <p class="small text-muted mb-1  d-none d-lg-block">Preço</p>
              <p class="lead fw-normal mb-2"> {{ pedido.preco|formata_preco }} </p>
            </div>
          </div>
       </div>

       {% endfor %}

  </main>

{% endblock conteudo %}